@keyframes slideInFromLeft {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

.toggle {
	position: absolute;
	right: 35px;
	top: 0;
}

.toggle-light::after {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	width: 25px;
	height: 25px;
	border-radius: 90px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	background-color: #F8F9FF;
}

.toggle-dark::after {
	transform: translateX(-100%);
	left: calc(100% - 5px);
	content: "";
	position: absolute;
	top: 5px;
	width: 25px;
	height: 25px;
	border-radius: 90px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	background-color: #F8F9FF;
}

.tag {
	font-family: 'Roboto Mono', monospace;
}

.tag-wrapper {
	flex: 1 1 auto;
	padding: 0 15px;
}

.link-dark {
	color: #FF838E;
}

.link-light {
	color: #cc0052;
}

@media (max-width: 750px) {
	.toggle {
		position: static;
		margin-left: 15px;
		width: 100%;
	}
}

.particles > .particle {
	border-radius: 100%;
	position: absolute;
	background-size: 100% 100%;
	background: transparent no-repeat;
}
.particle-smaller {
	width: 5px;
	height: 5px;
}
.particle-small {
	width: 10px;
	height: 10px;
}
.particle-normal {
	width: 15px;
	height: 15px;
}
.particle-big {
	width: 20px;
	height: 20px;
}
.particle-bigger {
	width: 25px;
	height: 25px;
}