.toggle {

}

.toggle-light::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 90px;
  height: 90px;
  border-radius: 90px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #F8F9FF;
}

.toggle-dark::after {
  transform: translateX(-100%);
  left: calc(100% - 5px);
  content: "";
  position: absolute;
  top: 5px;
  width: 90px;
  height: 90px;
  border-radius: 90px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #F8F9FF;
}
