body {
	margin: 0;
	font-family: 'Inter', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #331E38;
}

a {
	color: #EFEFEF
}


a:hover {
	color: #F4E8C1;
}